* {
  font-family: Helvetica;
  color: seashell;
  background-color: black;
}

header {
  width: 100px;
  position: fixed;
  z-index: 1;
  height: 75px;
  background-color: black;
  align-items: center;
  display: flex;
}

img {
  padding-left: 10px;
  height: 50px;
  padding-top: 20px;
  display: flex;
}

div {

}

.flex-container {
  display: flex;
  align-items: right;
  border-bottom: 1px solid seashell;
  z-index: 5;
}

.logo {
  width: 800px;
  height: 69px;
  flex: 1;
}

.menu {
  width: 500px;
  height: 95px;
  font-size: 22px;
  flex: 1;
  justify-content: flex-end;
  display: inline-flex;
}

span {
  display: flex;
  text-align: left;
  justify-content: center;
  padding: 10px;
}

 a {
   padding-top: 20px;
}

.main {
  padding: 69px;
}

.mission {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
    align-items: center;
    padding-top: 350px;
    width: 1200px;
    height: 450px;
    margin: auto;
}

.flex-statement {
  display: flex;
}

.statement {
justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  background-color: black;
  height: 100px;
  width: 1200px;
}

h2, h4 {
  color: seashell;
}

.tea-section {
  font-family: Helvetica;
}

.tea-section h2, h4 {
  text-align: center;
}

.tea-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div {
  display: block;
}

.tea-image img {
  padding: 5px;
  margin: 10px;
  width: 300px;
  height: 200px;
  margin: 20px;
}

.tea-image span {
  font-family: Helvetica;
  font-size: 22px;
}
